components:
  schemas:
    Alive:
      properties:
        app:
          example: I'm alive!
          type: string
      type: object
    Event:
      properties:
        data:
          type: object
        date:
          example: '2021-05-03T19:41:36.315842-03:00'
          format: date-time
          type: string
        hash:
          example: 406cce9743906f7b8d7dd5d5c5d8c95d820eeefd72a3a554a4a726d022d8fa19
          type: string
        type:
          type: string
      type: object
    EventCreateErrorResponse:
      properties:
        code:
          example: 105
          type: integer
        event_hash:
          example: null
          type: string
        label:
          example: common.error.event_type_unknown_error
          type: string
        message:
          example: 'Event type unknown: (%s)'
          type: string
        params:
          items:
            type: string
          type: array
        result:
          example: false
          type: boolean
      type: object
    EventCreateRequest:
      properties:
        order_id:
          example: 134569
          type: integer
        products:
          items:
            $ref: '#/components/schemas/Product'
          type: array
      type: object
    EventCreateResponse:
      properties:
        code:
          example: 102
          type: integer
        event_hash:
          example: c82bf3ee20dd2f4ae7109e52d313a3190f1a85ba3362c54d3eb6257bd0c4d69d
          type: string
        label:
          example: common.event_registered_with_success
          type: string
        message:
          example: Event registered with success
          type: string
        params:
          items:
            type: string
          type: array
        result:
          example: true
          type: boolean
      type: object
    EventListResponse:
      properties:
        control:
          $ref: '#/components/schemas/RequestControl'
        data:
          items:
            $ref: '#/components/schemas/Event'
          type: array
        links:
          items:
            $ref: '#/components/schemas/Link'
          type: array
        meta:
          $ref: '#/components/schemas/Meta'
      type: object
    Link:
      properties:
        href:
          type: string
        method:
          type: string
        rel:
          type: string
      type: object
    Meta:
      properties:
        first:
          format: url
          type: string
        href:
          format: url
          type: string
        last:
          format: url
          type: string
        next:
          format: url
          type: string
        previous:
          format: url
          type: string
      type: object
    Product:
      properties:
        quantity:
          example: 1
          type: integer
        sku:
          example: 174028
          type: integer
      type: object
    RequestControl:
      properties:
        count:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
        total:
          type: integer
      required:
      - limit
      type: object
info:
  title: sourcing-service-events-api
  version: 1.0.0
openapi: 3.0.2
paths:
  /alive:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alive'
          description: Success response
      summary: Service Health Method
  /v1/event/{event_type}:
    get:
      parameters:
      - description: Event type
        in: path
        name: event_type
        required: true
        schema:
          example: sale-event
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventListResponse'
          description: Success response
      summary: List event by event type
    post:
      parameters:
      - description: Event type
        in: path
        name: event_type
        required: true
        schema:
          example: sale-event
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventCreateRequest'
        description: Event to be created
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventCreateResponse'
        4xx:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventCreateErrorResponse'
      summary: Create event
servers:
- description: Staging server
  url: https://sourcing-service-events-api.redekasa.com
- description: Development server
  url: http://localhost:5000
